<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="Index.html" />
            </files>
        </defaultDocument>

        <rewrite>
            <rules>
                <clear />
                <rule name="Default" stopProcessing="true">
                    <match url=".*" ignoreCase="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^/(Public)" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="Index.html" />
                </rule>
            </rules>
            <outboundRules>
                <clear />
            </outboundRules>
        </rewrite>

        <httpErrors errorMode="Custom" existingResponse="Replace">
            <remove statusCode="404" />
            <remove statusCode="500" />
            <error statusCode="404" path="404.html" responseMode="File" />
            <error statusCode="500" path="500.html" responseMode="File" />
        </httpErrors>
    </system.webServer>
</configuration>