html,
body {
    min-height: 100vh;
}

body {
    background-color: #f7f7f7;
}

.navbar-toggler {
    border: 0;
    background-color: transparent;
}

.navbar-toggler:focus {
    outline: 0 none;
}

#header {
    background-color: #4c545d;
}

#main {
    flex-grow: 1;
}

img {
    max-width: 100%;
}

label,
input {
    display: block;
}

button {
    cursor: pointer;
}

.bg-transparent {
    background-color: transparent;
}