html,
body {
    min-height: 100vh;
}

body {
    background-color: #f7f7f7;
}

.list-unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}

.button-unstyled {
    padding: 0;
    border: 0;
    background-color: transparent;
}

.button-unstyled:focus {
    outline: 0 none;
}

#header {
    background-image: url(Images/Hypnotize.png);
    background-repeat: repeat;
    background-position: 0 0;
    height: 200px;
}

#main {
    flex-grow: 1;
}

img {
    max-width: 100%;
}

label,
input {
    display: block;
}

.bg-transparent {
    background-color: transparent !important;
}