@{
    Layout = "~/Views/Shared/_Blank.cshtml";
    ViewBag.Title = "404 - Not Found";
}

<div class="px-3 py-5">
    <svg class="d-block mx-auto" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 20 20" width="80" height="80" xml:space="preserve" focusable="false">
        <path d="M9.5 20c-2.538 0-4.923-0.988-6.718-2.782s-2.782-4.18-2.782-6.717c0-2.538 0.988-4.923 2.782-6.718s4.18-2.783 6.718-2.783c2.538 0 4.923 0.988 6.718 2.783s2.782 4.18 2.782 6.718-0.988 4.923-2.782 6.717c-1.794 1.794-4.18 2.782-6.718 2.782zM9.5 2c-4.687 0-8.5 3.813-8.5 8.5s3.813 8.5 8.5 8.5 8.5-3.813 8.5-8.5-3.813-8.5-8.5-8.5z" fill="#343a40"></path>
        <path d="M6.5 8c-0.827 0-1.5-0.673-1.5-1.5s0.673-1.5 1.5-1.5 1.5 0.673 1.5 1.5-0.673 1.5-1.5 1.5zM6.5 6c-0.276 0-0.5 0.224-0.5 0.5s0.224 0.5 0.5 0.5 0.5-0.224 0.5-0.5-0.224-0.5-0.5-0.5z" fill="#343a40" />
        <path d="M12.5 8c-0.827 0-1.5-0.673-1.5-1.5s0.673-1.5 1.5-1.5 1.5 0.673 1.5 1.5-0.673 1.5-1.5 1.5zM12.5 6c-0.276 0-0.5 0.224-0.5 0.5s0.224 0.5 0.5 0.5 0.5-0.224 0.5-0.5-0.224-0.5-0.5-0.5z" fill="#343a40" />
        <path d="M5.5 15.001c-0.276 0-0.5-0.225-0.5-0.501 0-0.063 0.008-0.635 0.303-1.224 0.412-0.823 1.192-1.276 2.197-1.276 1.207 0 1.843 0.636 2.354 1.146 0.477 0.477 0.854 0.854 1.646 0.854 0.622 0 1.044-0.228 1.29-0.698 0.203-0.389 0.21-0.8 0.21-0.805 0-0.276 0.224-0.499 0.5-0.499s0.5 0.225 0.5 0.501c0 0.063-0.008 0.635-0.303 1.224-0.412 0.823-1.192 1.276-2.197 1.276-1.207 0-1.843-0.636-2.354-1.146-0.477-0.477-0.854-0.854-1.646-0.854-0.622 0-1.044 0.228-1.29 0.698-0.203 0.389-0.21 0.8-0.21 0.805 0 0.276-0.224 0.499-0.5 0.499z" fill="#343a40" />
    </svg>
    <div class="text-center">
        <h3 class="font-weight-normal my-3">404 - Not Found</h3>
        <p class="mb-0">Sorry for the inconvenience!</p>
    </div>
</div>