<div class="container">
    @if (!string.IsNullOrEmpty(ViewBag.Message)) {
        <h2 class="font-weight-normal text-center">@ViewBag.Message</h2>
    }
    else {
        <h2 class="font-weight-normal text-center">An unknown error occurred.</h2>
    }
</div>